force-app/main/default/flows/Application_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Affiliations_Loan_exposure_4L</name>
        <label>Add Affiliations Loan exposure &gt;4L</label>
        <locationX>248</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AffiliationsLoanexposure4L</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Verification_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_All_Four_Boundaries_Mentioned_In_Document_0</name>
        <label>Add All Four Boundaries Mentioned In Document</label>
        <locationX>468</locationX>
        <locationY>5030</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AllFourBoundariesMentionedInDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Of_Boundaries_Without_Name_And_Having_Only_Survey_No_Khasra_No_Patta_No_Khath</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Any_file_where_BM_recommendation_is_upto_10L_can_be_predicted</name>
        <label>Add Any file where BM recommendation is upto 10L can be predicted</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AnyfilewhereBMrecommendationisupto10Lcanbepredicted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DECISION_Neutral_Negatives</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Applicant_Is_Owner_Of_The_Property</name>
        <label>Add Applicant Is Owner Of The Property</label>
        <locationX>468</locationX>
        <locationY>8942</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RevisitApplicantIsOwnerOfTheProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_property_mortgaged_with_any_financial_institution_individuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Boundaries_As_Per_Inspection_Are_Same_0</name>
        <label>Add Boundaries As Per Inspection Are Same</label>
        <locationX>468</locationX>
        <locationY>5702</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BoundariesAsPerInspectionAreSame</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mortgage_property_distance_from_Branchs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Building_Type</name>
        <label>Add Building Type</label>
        <locationX>468</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuildingType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mortgage_property_Areas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_DECISION_Neutral_Negative</name>
        <label>Add DECISION Neutral / Negative</label>
        <locationX>248</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DECISIONNeutralNegative</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Property_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Document_Type</name>
        <label>Add Document Type</label>
        <locationX>468</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DocumentType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_of_Mortgage_Propertys_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Does_Property_Mortgaged_With_Any_Financial_Institution_Individual</name>
        <label>Add Does Property Mortgaged With Any Financial Institution / Individual</label>
        <locationX>468</locationX>
        <locationY>9278</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RevisitDoesPropertyMortgagedWithAnyFinancialInstitutionIndividual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Senior_Person_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Location_Of_Mortgage_Property</name>
        <label>Add Location Of Mortgage Property</label>
        <locationX>468</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LocationOfMortgageProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Building_Types_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LTV_and_DBR_should_be_capped_at_50</name>
        <label>Add LTV and DBR should be capped at 50%</label>
        <locationX>248</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LTVAndDBRShouldBeCappedAt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Affiliations_Loan_exposure_4Lakh</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Mortgage_Property_Area</name>
        <label>Add Mortgage Property Area</label>
        <locationX>468</locationX>
        <locationY>4694</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MortgagePropertyArea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Four_Boundaries_Mentioned_In_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Mortgage_property_distance_from_Branch_Other_State</name>
        <label>Add Mortgage property distance from Branch Other State</label>
        <locationX>468</locationX>
        <locationY>6374</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MortgagepropertydistancefromBranchOtherState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Property_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Neighbour_Feedback</name>
        <label>Add Neighbour Feedback</label>
        <locationX>468</locationX>
        <locationY>8270</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NeighbourFeedback</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Character_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_No_Of_Boundaries_Without_Name_And_Having_Only_Survey_No_Khasra_No_Patta_No</name>
        <label>Add No Of Boundaries Without Name And Having Only Survey No / Khasra No/ Patta No / Khatha No</label>
        <locationX>468</locationX>
        <locationY>5366</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoOfBoundariesWithoutNameAndHavingOnlySurveyNoKhasraNoPattaNoKhathaNo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boundaries_As_Per_Inspection_Are_Sames</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Pathway_Available</name>
        <label>Add Pathway Available</label>
        <locationX>468</locationX>
        <locationY>3350</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PathwayAvailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Types_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Person_Residing_At_Mortgage_Property</name>
        <label>Add Person Residing At Mortgage Property</label>
        <locationX>468</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PersonResidingAtMortgageProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pathway_Availables_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Red_Document</name>
        <label>Add Red Document</label>
        <locationX>468</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RedDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vacant_Lands</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Senior_Person_Comments</name>
        <label>Add Senior Person Comments</label>
        <locationX>468</locationX>
        <locationY>9614</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SeniorPersonComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Revisit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Staff_Loans</name>
        <label>Add Staff Loans</label>
        <locationX>248</locationX>
        <locationY>7694</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StaffLoans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Character_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Top_up</name>
        <label>Add Top up</label>
        <locationX>468</locationX>
        <locationY>6926</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TopUp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tranches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tranche</name>
        <label>Add Tranche</label>
        <locationX>468</locationX>
        <locationY>7262</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrancheVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Login_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Vacant_Land</name>
        <label>Add Vacant Land</label>
        <locationX>468</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VacantLand</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Person_residing_at_Mortgage_propertys_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Status_Cancel</name>
        <label>Application Status Cancel</label>
        <locationX>578</locationX>
        <locationY>10526</locationY>
        <assignmentItems>
            <assignToReference>Get_Application_Record.application_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Application_Record.Customer_Agree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Stage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirmation_Amount</name>
        <label>Confirmation Amount</label>
        <locationX>314</locationX>
        <locationY>10526</locationY>
        <assignmentItems>
            <assignToReference>Get_Application_Record.BM_Confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Application_Record.Customer_Agree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Stage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mortgage_property_distance_from_Branch_Central_India</name>
        <label>Mortgage property distance from Branch Central India</label>
        <locationX>468</locationX>
        <locationY>6038</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfExclusion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MortgagepropertydistancefromBranchCentralIndia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mortgage_property_distance_from_Branch_Other_States</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Review_BM_Recommended_Amount</name>
        <label>Update Review BM Recommended Amount</label>
        <locationX>842</locationX>
        <locationY>10526</locationY>
        <assignmentItems>
            <assignToReference>Get_Application_Record.Review_BM_Recommended_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_BM_Recommended_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Application_Record.Customer_Agree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Agree with Loan Amount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Stage_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Affiliations_Loan_exposure_4Lakh</name>
        <label>Affiliations Loan exposure &gt;4L</label>
        <locationX>380</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Get_Verification_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Affiliations_Loan_exposure_4L</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Record.BM_Recommended_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Affiliations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Affiliations_Loan_exposure_4L</targetReference>
            </connector>
            <label>Affiliations Loan exposure 4L</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Four_Boundaries_Mentioned_In_Documents</name>
        <label>All Four Boundaries Mentioned In Document</label>
        <locationX>600</locationX>
        <locationY>4910</locationY>
        <defaultConnector>
            <targetReference>No_Of_Boundaries_Without_Name_And_Having_Only_Survey_No_Khasra_No_Patta_No_Khath</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Four_Boundaries_Mentioned_In_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.All_four_boundaries_mentioned_in_doc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PropertyFIVCRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_All_Four_Boundaries_Mentioned_In_Document_0</targetReference>
            </connector>
            <label>All Four Boundaries Mentioned In Document</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_file_where_BM_recommendation_is_upto_10L_can_be_predicted</name>
        <label>Any file where BM recommendation is upto 10L can be predicted</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>DECISION_Neutral_Negatives</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BM_recommendation_is_upto_10L</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Verification_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Any_file_where_BM_recommendation_is_upto_10L_can_be_predicted</targetReference>
            </connector>
            <label>BM recommendation is upto 10L</label>
        </rules>
    </decisions>
    <decisions>
        <name>Applicant_is_owner_of_the_propertys</name>
        <label>Applicant is owner of the property</label>
        <locationX>600</locationX>
        <locationY>8822</locationY>
        <defaultConnector>
            <targetReference>Does_property_mortgaged_with_any_financial_institution_individuals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Applicant_is_owner_of_the_property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Revisit.Revisit_done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Revisit.Revisit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Revisit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Applicant_Is_Owner_Of_The_Property</targetReference>
            </connector>
            <label>Applicant is owner of the property</label>
        </rules>
    </decisions>
    <decisions>
        <name>Boundaries_As_Per_Inspection_Are_Sames</name>
        <label>Boundaries As Per Inspection Are Same</label>
        <locationX>600</locationX>
        <locationY>5582</locationY>
        <defaultConnector>
            <targetReference>Mortgage_property_distance_from_Branchs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Boundaries_As_Per_Inspection_Are_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Boundaries_As_Per_Inspection_Are_Same__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PropertyFIVCRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Boundaries_As_Per_Inspection_Are_Same_0</targetReference>
            </connector>
            <label>Boundaries As Per Inspection Are Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Building_Types_0</name>
        <label>Building Type</label>
        <locationX>600</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <targetReference>Mortgage_property_Areas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Building_Type</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Building_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Titled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Building_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Building_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tin Sheet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PropertyFIVCRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Building_Type</targetReference>
            </connector>
            <label>Building Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Application_Id</name>
        <label>Check Application Id</label>
        <locationX>831</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Record_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application_Record</targetReference>
            </connector>
            <label>Check Record Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Agree_Options</name>
        <label>Customer Agree Options</label>
        <locationX>710</locationX>
        <locationY>10406</locationY>
        <defaultConnector>
            <targetReference>Update_Application_Stage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerAgreed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerAgreed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Status_Cancel</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Not_Agree_with_Loan_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerAgreed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Agree with Loan Amount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Review_BM_Recommended_Amount</targetReference>
            </connector>
            <label>Not Agree with Loan Amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Neutral_Negatives</name>
        <label>DECISION Neutral / Negative</label>
        <locationX>380</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Get_Property_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DECISION_Neutral_Negative</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Verification_Records.Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neutral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Verification_Records.Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Verification_Records.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIV_C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_DECISION_Neutral_Negative</targetReference>
            </connector>
            <label>DECISION Neutral / Negative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Types_0</name>
        <label>Document Type</label>
        <locationX>600</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>Location_of_Mortgage_Propertys_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Document_Type</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Will Deed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Co-ownership deed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PropertyFIVCRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Document_Type</targetReference>
            </connector>
            <label>Document Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_property_mortgaged_with_any_financial_institution_individuals</name>
        <label>Does property mortgaged with any financial institution / individual</label>
        <locationX>600</locationX>
        <locationY>9158</locationY>
        <defaultConnector>
            <targetReference>Senior_Person_Comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_property_mortgaged_with_any_financial_institution_individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Revisit.Revisit_done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Revisit.Revisit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Revisit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Does_Property_Mortgaged_With_Any_Financial_Institution_Individual</targetReference>
            </connector>
            <label>Does property mortgaged with any financial institution / individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Collection_Of_Exclusion_Has_Data</name>
        <label>Is Collection Of Exclusion Has Data</label>
        <locationX>380</locationX>
        <locationY>9926</locationY>
        <defaultConnector>
            <targetReference>Collection_Of_Exclusion_Data_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Collection_Of_Exclusion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfExclusion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Of_Exclusion_Data</targetReference>
            </connector>
            <label>Is Collection Of Exclusion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Staff_Loan</name>
        <label>Is Staff Loan</label>
        <locationX>380</locationX>
        <locationY>7574</locationY>
        <defaultConnector>
            <targetReference>Get_Character_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Staff_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Record.Staff_Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Staff_Loans</targetReference>
            </connector>
            <label>Staff Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_of_Mortgage_Propertys_0</name>
        <label>Location of Mortgage Property</label>
        <locationX>600</locationX>
        <locationY>3902</locationY>
        <defaultConnector>
            <targetReference>Building_Types_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_of_Mortgage_Property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Location_of_Mortgage_Property__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Few Or No House</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Location_Of_Mortgage_Property</targetReference>
            </connector>
            <label>Location of Mortgage Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>LTV_and_DBR_should_be_capped_at_50</name>
        <label>LTV and DBR should be capped at 50%</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Affiliations_Loan_exposure_4Lakh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LTV_and_DBR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Record.LTV__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LTVandDBR</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application_Record.DBR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LTVandDBR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_LTV_and_DBR_should_be_capped_at_50</targetReference>
            </connector>
            <label>LTV and DBR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mortgage_property_Areas</name>
        <label>Mortgage property Area</label>
        <locationX>600</locationX>
        <locationY>4574</locationY>
        <defaultConnector>
            <targetReference>All_Four_Boundaries_Mentioned_In_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mortgage_property_Area</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Mortgage_Property_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Mortgage_Property_Area</targetReference>
            </connector>
            <label>Mortgage property Area</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mortgage_property_distance_from_Branch_Other_States</name>
        <label>Mortgage property distance from Branch Other States</label>
        <locationX>600</locationX>
        <locationY>6254</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Property_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mortgage_property_distance_from_Branch_Other_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Mortgage_property_distance_from_branch__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Mortgage_Property_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Mortgage_Property_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Mortgage_Property_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Maharashtra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Mortgage_property_distance_from_Branch_Other_State</targetReference>
            </connector>
            <label>Mortgage property distance from Branch Other State</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mortgage_property_distance_from_Branchs</name>
        <label>Mortgage property distance from Branch</label>
        <locationX>600</locationX>
        <locationY>5918</locationY>
        <defaultConnector>
            <targetReference>Mortgage_property_distance_from_Branch_Other_States</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mortgage_property_distance_from_Branch</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Mortgage_property_distance_from_branch__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>35.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Mortgage_Property_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Mortgage_Property_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Mortgage_Property_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maharashtra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mortgage_property_distance_from_Branch_Central_India</targetReference>
            </connector>
            <label>Mortgage property distance from Branch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Neighbour_Feedbacks</name>
        <label>Neighbour Feedback</label>
        <locationX>600</locationX>
        <locationY>8150</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Character_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Neighbour_Feedback</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Record.Neighbour_feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NeighbourFeedbackNeutral</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application_Record.Neighbour_feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NeighbourFeedbackNegative</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Neighbour_Feedback</targetReference>
            </connector>
            <label>Neighbour Feedback</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Of_Boundaries_Without_Name_And_Having_Only_Survey_No_Khasra_No_Patta_No_Khath</name>
        <label>No Of Boundaries Without Name And Having Only Survey No / Khasra No/ Patta No / Khatha No</label>
        <locationX>600</locationX>
        <locationY>5246</locationY>
        <defaultConnector>
            <targetReference>Boundaries_As_Per_Inspection_Are_Sames</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Of_Boundaries_Without_Name_And_Having_Only_Survey_No_Khasra_No_Patta_No_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.No_of_boundaries_without_name_having__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.No_of_boundaries_without_name_having__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PropertyFIVCRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_No_Of_Boundaries_Without_Name_And_Having_Only_Survey_No_Khasra_No_Patta_No</targetReference>
            </connector>
            <label>No Of Boundaries Without Name And Having Only Survey No / Khasra No/ Patta No / Khatha No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pathway_Availables_0</name>
        <label>Pathway Available</label>
        <locationX>600</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Document_Types_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pathway_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Pathway_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PropertyFIVCRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Pathway_Available</targetReference>
            </connector>
            <label>Pathway Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_residing_at_Mortgage_propertys_0</name>
        <label>Person residing at Mortgage property</label>
        <locationX>600</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>Pathway_Availables_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_residing_at_Mortgage_property</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Person_residing_at_Mortgage_property__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PersonResidingAsSeller</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Person_residing_at_Mortgage_property__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PersonResidingAsBloodRelative</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PropertyFIVCRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Person_Residing_At_Mortgage_Property</targetReference>
            </connector>
            <label>Person residing at Mortgage property</label>
        </rules>
    </decisions>
    <decisions>
        <name>Red_Documents_0</name>
        <label>Red Document</label>
        <locationX>600</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Vacant_Lands</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Red_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Risk_Document__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PropertyFIVBRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Red_Document</targetReference>
            </connector>
            <label>Check Red Document</label>
        </rules>
    </decisions>
    <decisions>
        <name>Senior_Person_Comments</name>
        <label>Senior Person Comments</label>
        <locationX>600</locationX>
        <locationY>9494</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Revisit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Senior_Person_Comment</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Revisit.Senior_Person_Comments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Revisit.Senior_Person_Comments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neutral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Revisit.Revisit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senior Revisit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Senior_Person_Comments</targetReference>
            </connector>
            <label>Senior Person Comment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Top_Ups</name>
        <label>Top Up</label>
        <locationX>600</locationX>
        <locationY>6806</locationY>
        <defaultConnector>
            <targetReference>Tranches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Top_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Login_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoginTopUpLoanRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Top_up</targetReference>
            </connector>
            <label>Top Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tranches</name>
        <label>Tranche</label>
        <locationX>600</locationX>
        <locationY>7142</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Login_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tranche</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Login_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoginTrancheLoanRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Tranche</targetReference>
            </connector>
            <label>Tranche</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vacant_Lands</name>
        <label>Vacant Land</label>
        <locationX>600</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>Person_residing_at_Mortgage_propertys_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vacant_Land</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Type_Of_Property__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vacant Land</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_Property_Records.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PropertyFIVCRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Vacant_Land</targetReference>
            </connector>
            <label>Vacant Land</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CustomerAgree</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Agree__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Application Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Flow</label>
    <loops>
        <name>Loop_On_Character_Records</name>
        <label>Loop On Character Records</label>
        <locationX>380</locationX>
        <locationY>8030</locationY>
        <collectionReference>Get_Character_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Neighbour_Feedbacks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Revisit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Login_Records</name>
        <label>Loop On Login Records</label>
        <locationX>380</locationX>
        <locationY>6686</locationY>
        <collectionReference>Get_Login_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Top_Ups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Staff_Loan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Property_Records</name>
        <label>Loop On Property Records</label>
        <locationX>380</locationX>
        <locationY>2102</locationY>
        <collectionReference>Get_Property_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Red_Documents_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_On_Login_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Revisit</name>
        <label>Loop On Revisit</label>
        <locationX>380</locationX>
        <locationY>8702</locationY>
        <collectionReference>Get_Revisit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Applicant_is_owner_of_the_propertys</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Collection_Of_Exclusion_Has_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application_Record</name>
        <label>Get Application Record</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Login_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Character_Records</name>
        <label>Get Character Records</label>
        <locationX>380</locationX>
        <locationY>7910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Character_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Section_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Neighbour Detail</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIV_C_Character</stringValue>
            </value>
        </filters>
        <filters>
            <field>FeedBack__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Neutral</stringValue>
            </value>
        </filters>
        <filters>
            <field>FeedBack__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Character__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Login_Records</name>
        <label>Get Login Records</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LTV_and_DBR_should_be_capped_at_50</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginTopUpLoanRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginTrancheLoanRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record.Pre_Login__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pre_Login__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Record</name>
        <label>Get Property Record</label>
        <locationX>380</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Property_Records</targetReference>
        </connector>
        <filterLogic>2 AND 3 AND (1 OR 4)</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyFIVBRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyFIVCRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revisit</name>
        <label>Get Revisit</label>
        <locationX>380</locationX>
        <locationY>8582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Revisit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Verification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Verification_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Verification__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revisit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Verification_Records</name>
        <label>Get Verification Records</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_file_where_BM_recommendation_is_upto_10L_can_be_predicted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BM_Recommended_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>BM_Recommended_Amount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VerificationRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Stage</name>
        <label>Update Application Stage</label>
        <locationX>50</locationX>
        <locationY>10166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Lead Detail</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Stage_0</name>
        <label>Update Application Stage</label>
        <locationX>710</locationX>
        <locationY>10742</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Lead Detail</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <screens>
        <name>Collection_Of_Exclusion_Data</name>
        <label>Collection Of Exclusion Data</label>
        <locationX>50</locationX>
        <locationY>10046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Application_Stage</targetReference>
        </connector>
        <fields>
            <name>Collection_Of_Data</name>
            <extensionName>c:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>CollectionOfExclusion</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collection_Of_Exclusion_Data_Empty</name>
        <label>Collection Of Exclusion Data Empty</label>
        <locationX>710</locationX>
        <locationY>10046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>InPrincipleSanctionScreen</targetReference>
        </connector>
        <fields>
            <name>Collection</name>
            <extensionName>c:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>CollectionOfExclusion</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Proceed to Generate In-Principal Section</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Agree</name>
        <label>Customer Agree</label>
        <locationX>710</locationX>
        <locationY>10286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Agree_Options</targetReference>
        </connector>
        <fields>
            <name>CustomerAgreed</name>
            <choiceReferences>CustomerAgree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Agree?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Confirmation</name>
            <dataType>String</dataType>
            <fieldText>Confirmation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerAgreed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_BM_Recommended_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Application_Record.Review_BM_Recommended_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Review BM Recommended Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomerAgreed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not Agree with Loan Amount</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InPrincipleSanctionScreen</name>
        <label>In Principle Sanction Screen</label>
        <locationX>710</locationX>
        <locationY>10166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Customer_Agree</targetReference>
        </connector>
        <fields>
            <name>inPrincipleSanctionComp</name>
            <extensionName>c:inPrincipleSanctionComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Customer Aggregation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>705</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Application_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Affiliations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>400000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AffiliationsLoanexposure4L</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Affiliations Loan exposure &gt; 4 Lakh</stringValue>
        </value>
    </variables>
    <variables>
        <name>AllFourBoundariesMentionedInDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>All four boundaries mentioned in document</stringValue>
        </value>
    </variables>
    <variables>
        <name>AnyfilewhereBMrecommendationisupto10Lcanbepredicted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Any file where BM recommendation is upto 10L can be predicted</stringValue>
        </value>
    </variables>
    <variables>
        <name>BM_Recommended_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1000000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BoundariesAsPerInspectionAreSame</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Boundaries as per inspection are same</stringValue>
        </value>
    </variables>
    <variables>
        <name>BuildingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Building Type</stringValue>
        </value>
    </variables>
    <variables>
        <name>CollectionOfExclusion</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DECISIONNeutralNegative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>DECISION</stringValue>
        </value>
    </variables>
    <variables>
        <name>DocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Document Type</stringValue>
        </value>
    </variables>
    <variables>
        <name>DPDInPropertyAndVehiclesRelatedLoansExcludingTwoWheeler60</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>60+DPD in Property and vehicles related loans excluding Two-wheeler</stringValue>
        </value>
    </variables>
    <variables>
        <name>IncreasingTrendOfDPDOverTheLast3Months</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Increasing trend of DPD over the last 3 months</stringValue>
        </value>
    </variables>
    <variables>
        <name>LocationOfMortgageProperty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Location of Mortgage Property</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginTopUpLoanRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Top_up_loan</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginTrancheLoanRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Tranche_loan</stringValue>
        </value>
    </variables>
    <variables>
        <name>LTVandDBR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LTVAndDBRShouldBeCappedAt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LTV and DBR should be capped at 50%</stringValue>
        </value>
    </variables>
    <variables>
        <name>MortgagePropertyArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Mortgage property Area</stringValue>
        </value>
    </variables>
    <variables>
        <name>MortgagepropertydistancefromBranchCentralIndia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Mortgage property distance from Branch Central India</stringValue>
        </value>
    </variables>
    <variables>
        <name>MortgagePropertyDistanceFromBranchCentralIndia35Kms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Mortgage property distance from Branch Central India &gt; 35 Kms</stringValue>
        </value>
    </variables>
    <variables>
        <name>MortgagepropertydistancefromBranchOtherState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Mortgage property distance from Branch Other State</stringValue>
        </value>
    </variables>
    <variables>
        <name>MortgagePropertyDistanceFromBranchOtherStates40Kms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Mortgage property distance from Branch Other States &gt; 40Kms</stringValue>
        </value>
    </variables>
    <variables>
        <name>NegativeIncomePropertyValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Negative income / property value</stringValue>
        </value>
    </variables>
    <variables>
        <name>NeighbourFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Neighbour feedback</stringValue>
        </value>
    </variables>
    <variables>
        <name>NeighbourFeedbackNegative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Negative</stringValue>
        </value>
    </variables>
    <variables>
        <name>NeighbourFeedbackNeutral</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </variables>
    <variables>
        <name>NoOfBoundariesWithoutNameAndHavingOnlySurveyNoKhasraNoPattaNoKhathaNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No of boundaries without name and having only survey no / Khasra no/ patta no / Khatha no</stringValue>
        </value>
    </variables>
    <variables>
        <name>PathwayAvailable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pathway Available</stringValue>
        </value>
    </variables>
    <variables>
        <name>PersonResidingAsBloodRelative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Blood relative</stringValue>
        </value>
    </variables>
    <variables>
        <name>PersonResidingAsSeller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Seller</stringValue>
        </value>
    </variables>
    <variables>
        <name>PersonResidingAtMortgageProperty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Person residing at Mortgage property</stringValue>
        </value>
    </variables>
    <variables>
        <name>PropertyFIVBRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FIV_B_Property_Detail</stringValue>
        </value>
    </variables>
    <variables>
        <name>PropertyFIVCRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FIV_C_Property_Detail</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RedDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Red Document</stringValue>
        </value>
    </variables>
    <variables>
        <name>RevisitApplicantIsOwnerOfTheProperty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Revisit Applicant is owner of the property</stringValue>
        </value>
    </variables>
    <variables>
        <name>RevisitDoesPropertyMortgagedWithAnyFinancialInstitutionIndividual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Revisit Does property mortgaged with any financial institution / individual</stringValue>
        </value>
    </variables>
    <variables>
        <name>SeniorPersonComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Senior person comments</stringValue>
        </value>
    </variables>
    <variables>
        <name>StaffLoans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Staff loans</stringValue>
        </value>
    </variables>
    <variables>
        <name>SuitFiledWrittenOffCases</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Suit filed / Written off cases</stringValue>
        </value>
    </variables>
    <variables>
        <name>TopUp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Top up</stringValue>
        </value>
    </variables>
    <variables>
        <name>TrancheVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Tranche</stringValue>
        </value>
    </variables>
    <variables>
        <name>VacantLand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Vacant Land</stringValue>
        </value>
    </variables>
    <variables>
        <name>VerificationRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FIV_C</stringValue>
        </value>
    </variables>
</Flow>
